body {
    margin: 0; 
    height: 100vh;  /*Altura em VH: View Hate*/
}
* {
    font-family: 'roboto',sans-serif; /*fonte do site*/
  ;
    padding: 0;
}
/* inicio navbar */
a {
      text-decoration: none; /* tirando o underline do link */
      color: black;        
}

a:hover{ /* quando passar o mouse por cima */
    font-weight: bold; /* letra fica negrito */
}

.navbar{
    background-color:#f5eadc;
    color: black;
    height: 100px;
    border-bottom: 3px #e74c3c solid; /* Borda somente embaixo */
}
.container{
    width: 95%;
    height: 100px;
    margin: auto;
}
.navbar img {
    float: left;
    margin-top: 30px; /*Margem no topo do logo*/
}
.navbar ul{
    float: right;
    text-transform: uppercase; /*Colocando texto em maiúsculo*/
}
.navbar  li{
    float: left;
    list-style: none; /* Tirando o estilo de lista º*/
    margin-left: 80px;
    margin-top: 20px;
    text-transform: uppercase ;
    
    
}
.navbar h1 span{
    color: white;
}
.current { 
    color: #e74c3c;
    font-weight: bold;
}
/* fim navbar */
/*Inicio primeiro banner*/
.banner {
    height: 420px;
    background: url(../Imagens/fund-banner.png) #e9e7e0 no-repeat;
    background-size: 80% 100%;
    border-bottom: solid #e74c3c 3px;
    background-position-x: 100%;
}

.container_banner{
    width: 95%;
    margin: auto;
}

.conteudo_banner1{
    width: 38%;
}

.banner h1{
    margin: 0px;
    font-size: 33px;
    padding: 70px 0px; /* padding aumenta a área de dentro para fora*/
    text-align: center;
    color: #e74c3c
}

.banner p{
    margin: 0;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    color: black
}
/*fim primeiro banner*/


/*Inicio segundo banner*/
.fundo_conteudo{
    background-size: cover;
    margin: 0px 0px;
    background-color: #ebe6e0;
    height: 380px;
}


.banner_importancia{
    height: 380px;
    width: 80%;
    margin: auto;
    align-items: center;
    display: flex
}

.banner_importancia .tit_2 {
    color: #e74c3c;
    font-size: 33px;
    text-align: center;
    margin-right: 50px;
}

.banner_importancia .cont_2 {
    text-align: center;
    font-size: 20px;
    margin-left: 50px;
    border-right: solid orangered 3px;
    padding-right: 10px;
}
/*fim segundo banner*/

/* inicio pagina home */
.secao{
    width: 100%;
    height: 400px;
    background: #ebe6e0;
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.container_secao{
    width: 95%;
    height: 350px;
    margin-top: 20px;
}

.sec_sistema{
    height: 85%;
    width: 100%;
    margin: 25px 20px;
    display: flex;
    align-items: center;
    border-left: 3px solid orangered;
    border-top: 3px solid rgb(255, 69, 0);
    border-top-left-radius: 80px;
}

.container_secao img{
    width: 205px;
}

.sec_sistema p{
    font-size: 25px;
    text-align: left;
}

.secao_dif{
    width: 100%;
    height: 800px;
    background: #ebe6e0;
    display:flex;
   
justify-content: center;
}

.container_dif{
    width: 90%;
    height: 90%;

    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container_dif img{
    width: 205px;
}

.p_diferenciais {
    text-align: center;
    font-size: 25px;
    width: 900px;
    border-bottom: 3px solid #e74c3c;
    padding-bottom: 30px;
    margin: 0;
}

.diferenciais{
    font-size: 50px;
    color: #e74c3c;
}
 .beneficios{
     font-size: 34px;
     color:  #e74c3c;
 }
 .time {
    width: 205px;
    border: solid 3px #e74c3c;
    border-radius: 36px;
    margin: 0 10px;
}
.monitor{
    display: flex;
}

.desc {
    text-align: center;
}
/* fim pagina home */
/* Calculadora financeira */
.banner_calc {
    background: url(../Imagens/bannercalc.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 689px;
    background-size: 100% 100%;
}
.banner_calc .titulo_calc{
  
    color: #e74c3c;
    margin: 0;
    text-align: center;
}

.container_calc {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.estilo{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-right: -60px;
    align-items: center;

}

.texto {
    text-align: center;
}

.input {
    border-radius: 14px;
    font-size: 30px;
    background: #ff543d;
    color: white;
    border: none;
    padding: 15px;
    margin: 10px 0;
}

.botao {
    border-radius: 14px;
    font-size: 34px;
    background: #ff543d;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

#resultado {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

/* fim calculadora financeira */
/* Inicio pagina sobre */

.banner_sobre {
    width: 100%;
    height: 500px;
    background: #f1f2ec;
    display: flex;
    justify-content: flex-end;
    border-bottom: solid 3px orangered;
}

.countainer_sobre{
    height: 460px;
    border: solid 0px red;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 300px;
}

.texto_sobre{
    font-size: 28px;
    width: 700px;
    text-align: center;
}

.countainer_sobre h1{
    color: #e74c3c;
}

.img_sobre{
    margin: 85px 129px;
}

.img_sobre img{
    width: 375px;
}

.time_sobre h1 {
    color: #e74c3c;
    text-transform: uppercase;
    padding-right: 30px;
}

.secao_time {
    height: 526px;
    border: solid 0px red;
    display: flex;
    justify-content: center;  
    background:#f1f2ec;
      
}

.time_sobre {
    width: 43%;
    height: 460px;
    text-align: center;
 
}

.texto_time {
    font-size: 28px;
    width: 700px;
    text-align: center;
}

.img_time img {
    width: 571px;
    margin: -0px 71px;
    height: 527px;
}
/* fim sobre */
/* inicio trabalhe conosco */

.banner_trabalho {
    width: 100%;
    height: 400px;
    background: url(../Imagens/prancheta.jpg) no-repeat;
    background-size: 100%; 
    background-position: 100%;
    border-bottom: solid #e74c3c 3px;
}

.container_trabalho h1 {
    margin: 0;
    font-size: 42px;
    color: #e74c3c;
}

.container_trabalho {
    width: 95%;
    height: 400px;
    margin: auto;
    display: flex;
    align-items: center;
}


.secao_trabalho {
    height: 845px;
    display: flex;
    justify-content: center;
    background-color: #ebe6e0;
}

.div_trabalho {
    width: 95%;
    height: 845px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #e74c3c;
    padding: 11px;
    border-radius: 30px;
    margin-top: 10px;
    background-color: lightsalmon;
    width: 600px;
}
.form_trabalho {
    width: 205px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 25px;
    background-color: #f5eadc;
    padding: 0px 51px;
    outline: 0
}

.select {
        width: 205px;
        height: 50px;
        border-radius: 20px;
        margin-bottom: 25px;
        background-color: #f5eadc;
        padding: 0px 20px;
        outline: 0}

.botao_trabalho {
    padding: 10px;
    border-radius: 15px;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    outline: 0;
}

/* Fim trabalhe conosco */


/* Página Contatos */

.contato1{
    height: 900px;
    width: 100%;
    display: flex;
    background-color:#ebe6e0;
}

.container_cont{
    display: flex;    
    margin-left: 40px;
    align-items: center;
}

.conteudo_cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 640px;
    padding-left: 35px;
    border-left: #e74c3c solid 2px;
}

.form_conteudo{
    padding: 20px 20px;
    width: 206px;
    height: 15px;
    border-radius: 20px;
    margin-bottom: 25px;
    background-color: #f5eadc;
    outline: 0;
} 

.form_mensagem{
    padding: 20px 20px;
    width: 206px;
    height: 15px;
    border-radius: 20px;
    margin-bottom: 25px;
    background-color: #f5eadc;
    outline: 0;
} 

.form_conteudo_combo {
    width: 205px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 25px;
    background-color: #f5eadc;
    padding: 0px 51px;
    outline: 0
} 

.formulario_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #e74c3c;
    padding: 11px;
    border-radius: 30px;
    margin-top: 10px;
    background-color: lightsalmon;
    margin-left: 170px;
    width: 57%;
}

.formulario_cont H1 {
    color: #080100;

}

.botao_contato {
    padding: 10px;
    border-radius: 15px;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    outline: 0
}

.conteudo_cont H1 {
    color: #e74c3c;
    font-size: 40px;
}

.conteudo_cont p{
    font-size: 20px;
}

/* Fim da página contato */


/* Inicio rodapé */
.logo_rod {
    width: 360px;
    text-align: center;
    padding-left: 20px;
    
}
.rodape{
    height: 212px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #e74c3c;
    margin-bottom: 80px;
}

.rodape h5{
    color: #e74c3c;
}

.icones img {
    width: 50px;
    padding: 10px;
    cursor: pointer;
}




.icones {
    text-align: center;
    padding-right: 20px;
}

.endereco {
    text-align: center;
}

.endereco p {
    text-align: center;
}

/* Final rodapé */

/* inicio do css da tela login */

/* geral */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
  } */
  
   /* body {
    background-image: url('../Imagens/farmácia.webp');
    background-size: cover;
    background-position-y: -200px;
  }  */


  
  textarea:focus, input:focus{
    outline: none;
  }
  
  /* a {
    font-size: .8rem;
  } */
  
  /* a:hover {
    color: #08558B;
  } */
  
  /*  iniciocontainer login */
  #login-container {
    background-color: lightsalmon;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10vh;
  }
  
  /* formulário */
  form {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  label, input {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  label {
    font-weight: bold;
    font-size: .8rem;
  }
  
  input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  input:focus {
    border-bottom: 2px solid #f5eadc;
  }
  
  #forgot-pass {
    display: block;
    text-align: right;
  }
  
  input[type="button"] {
    text-align: center;
    text-transform: uppercase;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    color:rgb(248, 109, 54);
    background-color: #f5eadc;
    font-weight: bold;
  }
  
  input[type="button"]:hover {
    background-color: #1B223C;
    transition: .5s;
    
  }
  
  /* redes sociais */
  #social-container {
    margin-bottom: 20px;
  }
  
  #social-container p {
    margin-bottom: 20px;
  }
  
  #social-container i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    margin: 0 5px;
    color: #FFF;
  }
  
  .fa-facebook-f {
    background-color: #3B5998;
  }
  
  .fa-linkedin {
    background-color: #0077B5;
  }
  
  /* registrar */
  #register-container p {
    margin-bottom: 10px;
  }
  
  

